/*
html{
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}
*/



/* noto-serif-georgian-regular - georgian */
@font-face {
    font-family: 'Noto Serif Georgian';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/noto-serif-georgian-v9-georgian-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/noto-serif-georgian-v9-georgian-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

/* noto-serif-arial-regular - arial */
@font-face {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/ArialMT.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/ArialMT.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  /* alexandra-zeferino-three */
@font-face {
    font-family: 'Alexandra Zeferino Three';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/alexandra-zeferino-three.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/alexandra-zeferino-three.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }



/* light theme start*/
body {
    margin: 0;
    padding: 0;
    font-family: "Arial", sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #444444;
    max-width: 100%;
      height: auto;
  }
  
  .theme-button {
    flex-wrap: wrap;
    width: 60px;
    position: fixed;
    top: 53px;
    right: 60px;
    width: 143px; 
    height: 32px;
    font-size: 15px;
    display: inline-block;
    vertical-align: top;

  }
  
  h2 {
    border-bottom: 2px solid #cccccc;
    padding-bottom: 12px;
    font-size: 50px;
    font-weight: normal;
    font-family: "Noto Serif Georgian", serif;
    white-space: pre;
  }
  
  /* Header styles start*/

  .light-theme h1 {
    width: 400px;
    margin: 0 auto 20px;
    font-family: "Alexandra Zeferino Three", serif;
    text-align: center;
    font-weight: normal;
    font-size: 100px;
    line-height: 64px;
    color: #ed6b5b;
  }

  .light-theme .container {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1060px;

  }



  .light-theme .header_list {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    position: center;
  }


  .light-theme .header_item {
      margin-right: 82px;
      white-space: nowrap;
  }

  .light-theme .header_item:last-child {
      margin-right: 0;

  }

  .light-theme .header_link {
    color: #2f4673;  
    text-decoration: none; /* Убираем подчеркивание у ссылок */
    font-size: 18px;
    display: inline-block;
    vertical-align: top;
    width: 30%;
    margin: 0 5px;
    background-repeat: no-repeat;
    background-position: center top;
    text-align: center;

  }



  .light-theme .header_link:hover, .header_link:focus {
    color: #ed6b5b; /* Цвет ссылки при наведении на нее курсора мыши */  
    text-decoration: underline solid #ff9786 3px;
    
  }

  .light-theme .header_link:active {
      opacity: .75;

  }

  .light-theme .theme-button {
    color: #2f4673;
    border: 1px solid #ff9786;
  }
  
  
  .light-theme .theme-button:hover {
    color: #ffffff;
    background-color: #2f4673;
    border: 1px solid #2f4673;
  }


  .light-theme .site-header {
    min-width: 550px;
    height: 150px;
    padding-top: 30px;
    background: #3a3e59 no-repeat top left /*url("https://images.unsplash.com/photo-1542435503-956c469947f6?crop=entropy&cs=srgb&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTYzMjMyNjQwMg&ixlib=rb-1.2.1&q=85")*/;
    background-size: 100%;
    background-size: cover;
    color: #ffffff; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
  }
  
  /* Header styles end*/
  

    /* Intro styles start*/


   /* .light-theme .intro {
      height: 100vh;
      background: #2f4673 no-repeat top left url("https://images.unsplash.com/photo-1542435503-956c469947f6?crop=entropy&cs=srgb&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTYzMjMyNjQwMg&ixlib=rb-1.2.1&q=85");
      background-size: cover;
      color: #ffffff;
    }
    */

  
    .light-theme .about-me {
    width: auto;
    margin: 5% auto 30px;
    padding: 0 20px;
  }
  
  .light-theme .about-me p {
    line-height: 1.5;
    margin: 0 5px;
    font-size: 25px;
    /*text-align: center;*/
    
  }
  
  
  .light-theme .site-footer {
    min-width: 550px;
    background-color: #2f4673;
    color: #ffffff;
    flex: 0 0 auto;
    text-align: center;
  }
  
  
  
  .light-theme .site-footer p {
    display: inline-block;
    vertical-align: middle;
    padding: 0 20px;
  }

  /* light theme end*/


  /* dark theme start*/
  
  .dark-theme h1 {
    width: 400px;
    margin: 0 auto 20px;
    font-family: "Alexandra Zeferino Three", serif;
    text-align: center;
    font-weight: normal;
    font-size: 100px;
    line-height: 64px;
    color: #f3e9e9;
  }
  
  .dark-theme .container {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1060px;

  }



  .dark-theme .header_list {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    position: center;
  }


  .dark-theme .header_item {
      margin-right: 82px;
      white-space: nowrap;
  }

  .dark-theme .header_item:last-child {
      margin-right: 0;

  }

  .dark-theme .header_link {
    color: #f3e9e9;  
    text-decoration: none; /* Убираем подчеркивание у ссылок */
    font-size: 18px;
    display: inline-block;
    vertical-align: top;
    width: 30%;
    margin: 0 5px;
    background-repeat: no-repeat;
    background-position: center top;
    text-align: center;

  }

  .dark-theme .header_link:hover, .header_link:focus {
    color: #f3e9e9; /* Цвет ссылки при наведении на нее курсора мыши */  
    text-decoration: underline solid #be8779 3px;
    
  }

  .dark-theme .header_link:active {
      opacity: .75;

  }

  .dark-theme .theme-button {
    color: #f3e9e9;
    border: 1px solid #f3e9e9;
    background-color: gray;

  }
  
  
  .dark-theme .theme-button:hover {
    color: #ffffff;
    background-color: #7b876d;
    border: 1px solid #7b876d;
  }

  
  .dark-theme .site-header {
    min-width: 550px;
    height: 150px;
    padding-top: 30px;
    /*background: #2f4673 no-repeat top left url("https://images.unsplash.com/photo-1542435503-956c469947f6?crop=entropy&cs=srgb&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTYzMjMyNjQwMg&ixlib=rb-1.2.1&q=85");
    background-size: 100%;
    background-size: cover;
    color: #ffffff; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
  }
  
  /* Header styles end*/
  

    /* Intro styles start*/


    .dark-theme .intro {
      height: 100vh;
      background: #2f4673 no-repeat top left url("../img/PHOTO3.jpg");
      background-size: cover;
      color: #ffffff;
    }

  
    .dark-theme .about-me {
    width: auto;
    margin: 5% auto 30px;
    padding: 0 20px;
  }
  
  .dark-theme .about-me p {
    line-height: 1.5;
    margin: 0 5px;
    font-size: 25px;
    /*text-align: center;*/
    
  }
  
  
  .dark-theme .site-footer {
    min-width: 550px;
    background-color: #7b876d;
    color: #f3e9e9;
    flex: 0 0 auto;
    text-align: center;
  }
  
  
  
  .dark-theme .site-footer p {
    display: inline-block;
    vertical-align: middle;
    padding: 0 20px;
  }
  
  /* dark theme end*/


  